body{
	background: #ffd683;  
} 

#Layer_1{
	position: absolute;
	z-index: 100;
}

#Layer_4{
	fill: none;
	position: absolute;
}

#Layer_3{
	opacity: 0;
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
	position: absolute;
}

#Layer_2 {
	opacity: 0;
	-webkit-transition: 1s; /* Safari */
    transition: 1s;
	position: absolute;
	z-index: 80;
}

.finished{
	fill-opacity: 1;
}


